<section id="section-profile" class="section-padding">
    <div class="container">

        <div class="d-flex flex-md-row flex-column  justify-content-center">
            <div class="p-3">
                <!-- <div class="profile-bg visible-md visible-lg"></div> -->

                <img class="img-fluid" src="../../../assets/images/Profile.jpg">

            </div>

            <div class="mr-0 p-2 profile-desc">
                <h2 class="section-title uppercase">Hello, My Name is Dileep gagan Rajanna.</h2>
                <br />
                <p>
                    A Microsoft Certified Cloud Solution Architect with over a
                    decade of IT experience, specializing in multi-cloud platforms (Azure, AWS, GCP), modern web
                    development (Angular, .NET, React, Node), and database management (SQL, NoSQL, Graph). Renowned for
                    driving significant improvements in IoT, retail, Banking & Finance and Insurance domains.
                    Adept at public speaking and team leadership and committed to continuous learning and excelling in
                    both technical and soft skills.
                </p>
                <br />
                <p class="text-grey animated bounceInUp" style="opacity: 1;">
                    An innovative web developer who leverages AI and ML to enhance decision-making and process
                    automation,
                    leading to marked efficiency gains.
                </p>
                <br />

                <p class="text-grey animated bounceInUp" style="opacity: 1;">
                    Outside of technology, I am an passionate photographer and adventure enthusiast,
                    having embarked on numerous solo expeditions across India , Europe and US. These personal pursuits
                    reflect a dynamic personality that values exploration and creativity,
                    traits that undoubtedly enrich my professional endeavors in the tech world.
                </p>
                <br />
                <!-- <p class="text-grey animated bounceInUp" style="opacity: 1;">
                    
                </p> -->

            </div>
        </div>



    </div><!-- container end -->
</section>