<section id="section-profile" class="section-padding">
    <div class="container">

        <div class="d-flex flex-md-row flex-column  justify-content-center">
            <div class="p-3">
                <!-- <div class="profile-bg visible-md visible-lg"></div> -->

                <img class="img-fluid" src="../../../assets/images/Profile.jpg">

            </div>

            <div class="mr-0 p-2 profile-desc">
                <h2 class="section-title uppercase">Hello, My Name is Dileep gagan R.</h2>
                <br />
                <p>
                    A motivated tech-savvy web developer having good experience working in IOT, Retail,
                    Banking and Finance Services, Insurance and Travel & Hospitality domain. Skills
                    include .Net stack, Angular 2+(currently V 15) ,SQL, Azure, GCP public speaking and team handling.
                    Able to communicate effectively with a team and very keen to develop more
                    professional and personal skills.
                </p>
                <br />
                <p class="text-grey animated bounceInUp" style="opacity: 1;">
                    Microsoft Certified Cloud Solution Architect. Exploring Data Science and Machine Learning.
                </p>
                <br />
                
                <p class="text-grey animated bounceInUp" style="opacity: 1;">
                    Part time photographer, travel enthusiast and adventure junkie. Took many solo expeditions
                    across India exploring places.
                </p>
                <br />
                <!-- <p class="text-grey animated bounceInUp" style="opacity: 1;">
                    
                </p> -->

            </div>
        </div>



    </div><!-- container end -->
</section>