<section id="section-overview" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="service-wrapper">
                <div class="service-inner wow fadeInRight" data-wow-delay="1.1s">
                    <i class="fa fa-globe"></i>
                    <div class="service-box">
                        <h3>Web Development</h3>
                        <p>Have very good experience in developing web application for enterprise and small bussiness.
                        </p>
                    </div>
                </div> <!-- service -inner  -->
                <div class="service-inner wow fadeInRight" data-wow-delay=".8s">
                    <i class="fa fa-cloud"></i>
                    <div class="service-box">
                        <h3>Cloud Architecting & Development</h3>
                        <p>Good hands on various cloud services, including Paas and IaaS. Architected IaaS, PaaS solutions in azure and gcp. </p>
                    </div>
                </div> <!-- service -inner  -->
                <div class="service-inner wow fadeInRight" data-wow-delay=".2s">
                    <i class="fa fa-lightbulb-o"></i>
                    <div class="service-box">
                        <h3>IOT Solutions</h3>
                        <p>Good experience in IOT cloud configuration, application development and representation and
                            analysis of data received.</p>
                    </div>
                </div> <!-- service -inner  -->
                <div class="service-inner wow fadeInRight" data-wow-delay=".5s">
                    <i class="fa fa-cogs "></i>
                    <div class="service-box">
                        <h3>DevOps</h3>
                        <p>Good experience in setting up CI CD with azure devops, including deployment to onpremise and cloud kubernetes</p>
                    </div>
                </div> <!-- service -inner  -->
                

            </div>
        </div><!-- row end -->
    </div>
</section>