  <!-- section Home start -->
  <section id="section-banner">
    <div class="pattern-overlay"></div>
    <div class="d-flex align-items-end flex-column container">
        <div class="row">
            <div class="banner-content">
                <h2 class="title">
                    <span>Hi there..!</span>

                    <span>I'm Dileep Gagan R</span>
                    Full Stack developer
                </h2>

                <a href="#overview" class="btn btn-default">Know more</a>
            </div>
        </div>
    </div>
</section>
<!-- section Home end -->