<section id="section-skill" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading-title">My skills</h2>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeInLeft">
                <div class="skill-desc">
                    <p>
                        <strong>Multi-Cloud and Development Expertise:</strong> Adept in leading-edge cloud technologies
                        across Azure, AWS, and GCP,
                        coupled with strong front-end and back-end development skills in Angular and .NET.
                        Proven success in enhancing product features and performance, resulting in significant sales
                        growth.

                    </p>
                    <p>
                        <strong>Strategic Planning and Execution:</strong> Skilled in strategizing and executing
                        technical upgrades and cloud migrations,
                        achieving substantial improvements in system responsiveness and operational efficiency.
                    </p>
                    <p>
                        <strong>Innovative Problem-Solving: </strong>Innovative problem-solver with a history of
                        developing private cloud tools and scalable microservices architectures that drive productivity
                        and revenue increases.
                        Expert in leveraging real-time data for business insights and decision-making.
                    </p>
                    <p>
                        <strong>AI and Machine Learning Proficiency:</strong> Expert in applying AI and ML techniques to
                        solve complex business challenges, utilizing tools like TensorFlow, PyTorch, and scikit-learn.
                        Demonstrated ability to enhance decision-making and automate processes, leading to significant
                        gains in efficiency and innovation.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 wow fadeInRight">
                <div class="skill-box wow fadeInDown" data-wow-delay=".8s">
                    <label> Azure | AWS | GCP </label>
                    <div class="progress">
                        <div class="progress-bar" role="progress-bar" aria-valuemin="0" aria-valuenow="90"
                            aria-valuemax="100" style="width: 90%;">
                            90%
                        </div>
                    </div>
                </div>
                <div class="skill-box wow fadeInDown" data-wow-delay=".4s">
                    <label> Angular | React | Javascript</label>
                    <div class="progress">
                        <div class="progress-bar" role="progress-bar" aria-valuemin="0" aria-valuenow="90"
                            aria-valuemax="100" style="width: 90%;">
                            90%
                        </div>
                    </div>
                </div>
                <div class="skill-box wow fadeInDown" data-wow-delay=".2s">
                    <label>.Net</label>
                    <div class="progress">
                        <div class="progress-bar" role="progress-bar" aria-valuemin="0" aria-valuenow="90"
                            aria-valuemax="100" style="width: 90%;">
                            90%
                        </div>
                    </div>
                </div>
                <div class="skill-box wow fadeInDown" data-wow-delay=".6s">
                    <label> Architecture </label>
                    <div class="progress">
                        <div class="progress-bar" role="progress-bar" aria-valuemin="0" aria-valuenow="80"
                            aria-valuemax="100" style="width: 80%;">
                            80%
                        </div>
                    </div>
                </div>
                <div class="skill-box wow fadeInDown" data-wow-delay=".8s">
                    <label> SQL | Data Engineering </label>
                    <div class="progress">
                        <div class="progress-bar" role="progress-bar" aria-valuemin="0" aria-valuenow="80"
                            aria-valuemax="100" style="width: 80%;">
                            80%
                        </div>
                    </div>
                </div>
                <div class="skill-box wow fadeInDown" data-wow-delay=".8s">
                    <label> AI / ML </label>
                    <div class="progress">
                        <div class="progress-bar" role="progress-bar" aria-valuemin="0" aria-valuenow="40"
                            aria-valuemax="100" style="width: 40%;">
                            40%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>